:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --btn-bgc: #f5f4fa;
  --primary-pt: 94px;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-text-color);  
  font-size: 14px;  
  letter-spacing: 0.03em;
}
h1, h2, h3, h4, h5, h6, p{
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}

.contact-link,
.nav-link {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  }
   
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  }

.hidden-title {position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;}

/* header */

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}


 
/* logo */
.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  display: block;
  }
.logo-color {
  color: var(--accent-color);
}

/* site-nav */
.site-nav {
  list-style: none;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  padding: 32px 0;
  margin-left: 93px;
  }

.site-nav :not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  color: var(--title-text-color);
  }

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  padding: 32px 0;
}
.nav-link.current {
  color: var(--accent-color);
}


/* contacts */
.contacts{
  margin-left: auto;
  display: flex;
  }
.list.contacts {
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  }
.contact-link {
  color: var(--primary-text-color);
  padding: 32px 0;
  
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  padding: 32px 0;
  }

 .contacts :not(:last-child) {
    margin-right: 50px;
  }

/* main */

.section-title{
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  }

.title {
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.hero {
  background-color: #2f303a;
  width: 1200px;
  height: 600px;
  padding: 0 15px ;
  text-align: center;
  margin-left: auto;
  margin-right: auto;  
  }
.hero-title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  width: 696px;
}

/* buttons */
.btn {
  border-style: none;
  border: 1px solid transparent;
  outline: 0;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--white-text-color);
  cursor: pointer;
  font-family: inherit;
  }

.btn.main {
  padding: 10px 32px;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
.btn.main:hover,
.btn.main:focus {
  background-color: var(--btn-bgc);
  color: var(--title-text-color);
}

.btn.secondary {
  color: var(--title-text-color);
  background-color: var(--btn-bgc);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

.btn.secondary:hover,
.btn.secondary:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

/* benefits */
.benefits {
  padding-top: var(--primary-pt);
}

.benefits-list {
  display: flex;  
  flex-wrap: wrap;
  gap: 30px;
}
.benefits .title {
  color: var(--title-text-color);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}
.benefits-description {  
  line-height: 1.71;
  width: 270px;
}

/* activity */

.activity {padding-top: var(--primary-pt);}

.section-title {
  text-align: center;
}

.activity-list {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* teem */
.teem {padding-top: var(--primary-pt);
  padding-bottom: var(--primary-pt);
}

.teem-descr {
  padding: 30px 10px 0;
}
.teem .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.teem .profession {
  font-size: 16px;
  line-height: 1.19;
  padding-top: 10px;
  padding-bottom: 30px;
}

  .teem-list {
    display: flex;
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0 30px;
    
}
  .teem-card {
    flex-basis: calc(100% - 30px * 3) / 3;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/* footer */

.page-footer {
  background-color: #2f303a;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

  .address-list {
    padding-top: 10px;
}

.address-list {padding-bottom: 60px;
}

.address-item {
  padding-bottom: 10px;
}

.address-item:last-child {
  padding-bottom: 0;
}
  
.page-footer .logo {
  color: var(--white-text-color);
  padding-top: 60px;
  padding-bottom: 20px;
}


.page-footer .list {
  font-style: normal;
  list-style: none;
}

.post-address {
  color: var(--white-text-color);
  text-decoration: none;
}
.post-address:hover,
.post-address:focus {
  color: var(--accent-color);
}

.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}


/* portfolio */

.projects-main {
  padding-top: var(--primary-pt);
  padding-bottom: var(--primary-pt);
}

.portfolio-section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-type {font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
  padding-top: 4px;
}

.btn-list {
  display: flex;
  justify-content: center;
}

.btn-item:not(:last-child){
  margin-right: 8px;
}

.portfolio-list {
  padding-top: 34px;  
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  
}

.portfolio-items {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}